[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
[submodule "shell/zsh-completions"]
	path = shell/zsh-completions
	url = https://github.com/zsh-users/zsh-completions
[submodule "shell/zsh-autosuggestions"]
	path = shell/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule "shell/zsh-syntax-highlighting"]
	path = shell/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting
[submodule "shell/powerlevel10k"]
	path = shell/powerlevel10k
	url = https://github.com/romkatv/powerlevel10k.git
[submodule "nvim-config"]
	path = nvim-config
	url = git@github.com:yuchengs/nvim-config.git
